# Ignore virtual environments
venv/
env/
.Q/
Q/
wdd_project_env/
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore IDE configs
.vscode/
.idea/

# Ignore build artifacts
*.log
*.out
*.tmp

# Large dataset and weights
data/
*.pkl
notebooks/chkpt/*.pth
notebooks/splits/*.pkl

